// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
// Optional
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";

$container-padding-x: 15px;
$grid-gutter-width: 30px;

$gutters: (
  0: 0,
  1: 15px,
  2: 30px,
  3: 45px,
  4: 60px,
  5: 75px,
);

@mixin make-container($padding-x: $container-padding-x) {
  max-width: 1440px;
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

$breakpoints: (
  small: 768px,
  medium: 992px,
  large: 1200px,
);

//Colors
$main-text-color: #353535;
$main-yellow: #f9d27f;
$main-green: #d3e9c6;
$main-pink: #f88e7f;
$main-violet: #6e58c7;
$main-light-violet: #f0e3ff;
$main-violet-background: #d5c6e9;
$button-green: #90e74d;

//Font-sizes
$titleBigFontSizes: (
  null: (42px, 52px, -1px),
  small: (48px, 58px, -1.2px),
  medium: (54px, 64px, -1.4px),
);

$titleFontSizes: (
  null: (40px, 50px, normal),
  small: (44px, 54px, -1px),
  medium: (50px, 60px, -1.2px),
);

$subtitleFontSizes: (
  null: (16px, 24px, normal),
  small: (18px, 26px, normal),
  medium: (20px, 28px, normal),
);

$textFullLineHeight: (
  null: (16px, 16px, normal),
  small: (18px, 18px, normal),
  medium: (20px, 20px, normal),
);
