$footer-text: (
  null: (16px, 24px, normal),
  small: (17px, 25px, normal),
  medium: (18px, 28px, normal),
);

$footer-title-text: (
  null: (16px, 18px, normal),
  small: (17px, 20px, normal),
  medium: (18px, 22px, normal),
);

$footer-bottom-text: (
  null: (14px, 24px, normal),
  small: (15px, 25px, normal),
  medium: (16px, 28px, normal),
);

$footerBottomMargins: (
  null: (45px, 0, 30px, 0),
  small: (62px, 0, 30px, 0),
  medium: (72px, 0, 30px, 0),
);

.footer {
  &__top {
    border-top: 2px solid $main-text-color;
    padding-top: 38px;
  }

  &__menu {
    display: flex;

    &__item {
      ul {
        list-style: none;
        margin-bottom: 0;
        padding: 0;

        li {
          margin-bottom: 12px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .link {
        @include font-size($footer-text);

        text-decoration: none;
        color: #7b7b7b;
      }
    }
  }

  &__info {
    @include font-size($footer-text);

    color: #7b7b7b;

    svg {
      display: block;
      margin-bottom: 18px;
    }
  }

  &__title {
    @include font-size($footer-title-text);

    margin-bottom: 24px;
  }

  &__bottom {
    @include element-indent($footerBottomMargins, 'margin');
    @include font-size($footer-bottom-text);
  }
}
