$heroMainFontSizes: (
  null: (16px, 16px, normal),
  small: (18px, 18px, normal),
  medium: (20px, 20px, normal),
);

$heroVersionFontSizes: (
  null: (14px, 16px, normal),
  small: (14px, 18px, normal),
  medium: (14px, 20px, normal),
);

$heroBodyMargins: (
  null: (60px, 0, 0, 0),
  small: (80px, 0, 60px, 0),
  medium: (90px, 0, 72px, 0),
);

$heroFooterFontSizes: (
  null: (16px, 20px, normal),
  small: (18px, 22px, normal),
  medium: (20px, 24px, normal),
);

$hero_second-subtitle-margins: (
  null: (0, 0, 55px, 0),
  small: (0, 0, 60px, 0),
  medium: (0, 0, 70px, 0),
);

.hero {
  overflow: hidden;
  background-color: $main-yellow;
  padding: 0 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: auto;

  &__header {
    position: fixed;
    width: calc(100% - 40px);
    padding-top: 20px;
    z-index: 1001;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: flex-start;

    span {
      &:first-child {
        @include font-size($heroMainFontSizes);

        margin-right: 6px;
        text-transform: uppercase;
      }

      &:last-child {
        font-size: 14px;
        line-height: 20px;
        display: inline-block;
        padding: 0 4px;
        background-color: $main-text-color;
        border-radius: 4px;
        color: $main-yellow;
      }
    }

    &.open {
      visibility: hidden;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__link {
    @include font-size($heroMainFontSizes);

    background-color: $main-text-color;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    margin-right: 15px;
    transition: background-color 0.15s ease-in, color 0.15s ease-in;

    &:hover {
      cursor: pointer;
      background-color: lighten($main-text-color, 20);
      color: #fff;
    }

    &.open {
      background-color: #fff;
      color: $main-text-color;

      &:hover {
        cursor: pointer;
        background-color: lighten($main-text-color, 70);
        color: lighten($main-text-color, 20);
      }
    }
  }

  &__button {
    $hButton: &;

    position: relative;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: #fff;
    padding: 8px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.06);

    &:focus {
      outline: none;
    }

    &__inner {
      width: 24px;
      height: 24px;
      position: relative;
    }

    &__line {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $main-text-color;
      left: 0;
      transform: rotate(0deg);
      transition: background-color 0.15s ease-in, transform 0.15s ease-in;

      &:first-child {
        top: 7px;
      }

      &:last-child {
        top: 15px;
      }
    }

    &:hover {
      #{$hButton}__line {
        background-color: lighten($main-text-color, 20);
      }
    }

    &.open {
      #{$hButton}__line {
        &:first-child {
          top: 12px;
          transform: rotate(45deg);
        }

        &:last-child {
          top: 12px;
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__body {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__text-section {
    position: relative;
    width: 100%;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 11;
  }

  &__button-container {
    display: flex;
    margin-top: 40px;

    & > * {
      margin-right: 15px;
    }
  }

  &__image-section {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    z-index: 10;
    margin: 40px 0 60px;

    svg {
      position: absolute;
      bottom: 0;
      right: 0;
      height: auto;
      width: 100%;

      .svg-m-d-none {
        display: none;
      }
    }
  }

  &__main-image {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 20px);
    height: 100%;
    object-fit: contain;
  }

  &__footer {
    padding: 21px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-top: solid 2px $main-text-color;

    &-item {
      @include font-size($heroFooterFontSizes);

      margin-right: 65px;
      margin-bottom: 12px;
      text-decoration: none;
      color: $main-text-color;
      transition: color 0.15s ease-in;
      display: flex;
      align-items: center;

      svg {
        margin-right: 17px;
      }

      &:last-child {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
      }

      &_link {
        @extend .hero__footer-item;

        &:hover {
          cursor: pointer;
          color: lighten($main-text-color, 20);
        }
      }
    }
  }

  &_second {
    @extend .hero;

    background-color: $main-violet-background;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .hero__logo span:last-child {
      color: $main-violet-background;
    }

    &__body {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 540px;
      margin: auto;
    }

    .subtitle {
      @include element-indent($hero_second-subtitle-margins, 'margin');

      padding: 0;
    }
  }
}

@include media-breakpoint-up(sm) {
  .hero {
    &__body {
      margin-top: 120px;
      margin-bottom: auto;
    }
  }
}

@include media-breakpoint-up(md) {
  .hero {
    min-height: 100vh;

    &__footer {
      flex-direction: row;

      &-item {
        margin-right: 35px;
        margin-bottom: 0;

        &:last-child {
          margin-right: 0;
          margin-left: auto;
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .hero {
    &__text-section {
      width: 55%;
      padding-right: 62px;
    }

    &__image-section {
      width: 45%;
      padding-bottom: 32%;
      margin: 0;

      svg {
        position: absolute;
        bottom: -80%;
        right: 0;
        height: 120%;
        width: auto;

        .svg-m-d-none {
          display: block;
        }
      }
    }

    &__main-image {
      left: 20px;
      width: calc(100% + 20px);
      height: 100%;
      object-fit: contain;
      object-position: right;
    }

    &__footer {
      flex-direction: row;

      &-item {
        margin-right: 65px;
      }
    }

    &__body {
      margin-top: 160px;
      margin-bottom: auto;
    }
  }
}

@include media-breakpoint-up(xxl) {
  .hero {
    padding: 0 1.389vw;

    &__header {
      padding-top: 1.389vw;
      width: calc(100% - 2.8vw);
    }

    .main-title {
      font-size: 3.75vw;
      line-height: 4.4vw;
      letter-spacing: -0.097vw;
      margin-bottom: 1.528vw;
    }

    .subtitle {
      font-size: 1.389vw;
      line-height: 1.944vw;
      padding-right: 1.5vw;
    }

    &__logo {
      span {
        &:first-child {
          font-size: 1.389vw;
          line-height: 1.389vw;
          margin-right: 0.4vw;
        }

        &:last-child {
          font-size: 0.97vw;
          line-height: 1.389vw;
          padding: 0 0.28vw;
          border-radius: 0.28vw;
        }
      }
    }

    &__link {
      font-size: 1.389vw;
      line-height: 1.389vw;
      padding: 0.694vw 1.389vw;
      border-radius: 1.389vw;
      margin-right: 1vw;
    }

    &__button {
      $hButton: &;

      width: 2.7vw;
      height: 2.7vw;
      border-radius: 1.35vw;
      padding: 0.6vw;

      &__inner {
        width: 100%;
        height: 100%;
      }

      &__line {
        height: 0.1vw;

        &:first-child {
          top: 0.5vw;
        }

        &:last-child {
          top: 1vw;
        }
      }

      &.open {
        #{$hButton}__line {
          &:first-child {
            top: 0.7vw;
            transform: rotate(45deg);
          }

          &:last-child {
            top: 0.7vw;
            transform: rotate(-45deg);
          }
        }
      }
    }

    &__body {
      margin-top: auto;
      margin-bottom: auto;
    }

    &__text-section {
      width: 40%;
      padding-right: 4.306vw;
      margin-top: 9.5vw;
    }

    &__image-section {
      width: 60%;
      padding-bottom: 40.3%;

      svg {
        position: absolute;
        bottom: -3%;
        right: 0;
        height: 110%;
        width: auto;
      }
    }

    &__main-image {
      left: 1.389vw;
    }

    &__button-container {
      margin-top: 2.78vw;

      & > * {
        margin-right: 1vw;
      }
    }

    .button {
      font-size: 1.389vw;
      line-height: 1.389vw;
      padding: 1vw 1.25vw;
      border-radius: 0.35vw;
    }

    &__footer {
      padding: 1.46vw 0;

      &-item {
        font-size: 1.38vw;
        line-height: 1.66vw;
        margin-right: 4.5vw;

        svg {
          height: 1.38vw;
          width: auto;
          margin-right: 1.2vw;
        }
      }
    }

    &_second {
      &__body {
        max-width: 40%;

        .subtitle {
          margin-bottom: 4.86vw;
          padding: 0;
        }

        .preview-button {
          min-width: 34.7vw;
          font-size: 1.389vw;
          line-height: 1.389vw;
          border-radius: 2.08vw;

          &-half {
            padding: 1.25vw 1.94vw;

            svg {
              height: 1.389vw;
              width: auto;
              margin-right: 0.69vw;
            }
          }
        }
      }
    }
  }
}
