@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "mixins";
@import "fontfaces";

body {
  font-family: 'NeueMontreal', sans-serif;
  color: $main-text-color;
  width: 100%;
  overflow-x: hidden;
}

.content-container {
  @include make-container(20px);
}

.main-title {
  @include font-size($titleBigFontSizes);

  margin-bottom: 22px;
}

.title {
  @include font-size($titleFontSizes);

  margin-bottom: 22px;
}

.subtitle {
  @include font-size($subtitleFontSizes);
}

p {
  @include font-size($subtitleFontSizes);
}

@import "button";
@import "hero";
@import "menu";
@import "mobile-screens";
@import "video";
@import "customize";
@import "components";
@import "preview-button";
@import "component-card";
@import "library";
@import "purchase-card";
@import "signup";
@import "full-preview";
@import "footer";
