$purchaseCardHeaderFontSizes: (
  null: (20px, 24px, normal),
  small: (24px, 28px, normal),
  medium: (26px, 30px, normal),
);

.purchase-card {
  $mainClass: &;

  background-color: #fff;
  border: 2px solid #353535;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid $main-text-color;
    margin-bottom: 38px;

    p {
      @include font-size($purchaseCardHeaderFontSizes);

      margin-bottom: 0;
    }
  }

  &__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__name {
    display: flex;
    align-items: center;

    span {
      margin-right: 15px;
    }

    svg {
      width: 20px;
      margin-right: 10px;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin-bottom: 38px;

    li {
      @include font-size($subtitleFontSizes);

      margin-bottom: 16px;
      display: flex;

      &:last-child {
        margin-bottom: 0;
      }
    }

    svg {
      margin-right: 14px;
      min-width: 20px;
    }

    span {
      display: inline-block;
    }
  }

  .button,
  .button_violet,
  .button_yellow,
  .button_green,
  .button_pink {
    margin-top: auto;
  }

  &_violet {
    @extend .purchase-card;

    border-color: $main-violet;
    color: $main-violet;

    #{$mainClass}__header {
      border-color: $main-violet;
    }
  }

  &_black {
    @extend .purchase-card;

    background-color: $main-text-color;
    border-color: $main-text-color;
    color: #fff;

    #{$mainClass}__header {
      border-color: #fff;
    }
  }
}

@include media-breakpoint-up(sm) {
  .purchase-card {
    &__name {
      svg {
        width: 24px;
        min-width: 24px;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .purchase-card {
    &__name {
      svg {
        width: 26px;
        min-width: 26px;
      }
    }
  }
}
