$signup-paddings: (
  null: (80px, 0, 82px, 0),
  small: (100px, 0, 102px, 0),
  medium: (120px, 0, 122px, 0),
);

$signup-title-margins: (
  null: (0, auto, 50px, auto),
  small: (0, auto, 55px, auto),
  medium: (0, auto, 60px, auto),
);

$signup-form-margins: (
  null: (0, 0, 50px, 0),
  small: (0, 0, 55px, 0),
  medium: (0, 0, 60px, 0),
);

.signup {
  @include element-indent($signup-paddings, 'padding');

  &__title {
    @include element-indent($signup-title-margins, 'margin');

    max-width: 731px;
  }

  form {
    @include element-indent($signup-form-margins, 'margin');

    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;

    .mc-field-group {
      flex-grow: 1;
      margin-right: 0;
      margin-bottom: 16px;
      height: 100%;

      input[type="email"] {
        @include font-size($textFullLineHeight);

        padding: 13px;
        border: 2px solid $main-text-color;
        border-radius: 10px;
        box-shadow: none;
      }
    }

    .button_secondary {
      border-radius: 10px;
      width: 100%;
    }
  }

  &__footer {
    color: #7b7b7b;
  }
}

@include media-breakpoint-up(sm) {
  .signup {
    form {
      .mc-field-group {
        margin-right: 16px;
        margin-bottom: 0;
      }

      .button_secondary {
        border-radius: 10px;
        width: calc(40% - 8px);
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .signup {
    form {
      .button_secondary {
        border-radius: 10px;
        width: calc(30% - 8px);
      }
    }
  }
}
