script(src="https://www.googletagmanager.com/gtag/js?id=G-ZMQT54H43L") 
script. 
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZMQT54H43L');
 