.footer
  .container
    .footer__top
      .row.gy-3
        .footer__info.col-12.col-lg-3
          a(href='https://craftwork.design/')
            include ../svg/craftworkLogo
          |         High-quality digital resources which make your design workflow faster and easier
        .footer__menu.col-12.offset-0.col-lg-8.offset-lg-1
          .row.w-100.gy-3
            .footer__menu__item.col-12.col-sm-6.col-md
              .footer__title
                | Craftwork
              ul
                li
                  a.link(href='https://craftwork.design/pro-access/' target='_blank') Pro access
                li
                  a.link(href='https://craftwork.design/store/' target='_blank') Store
                li
                  a.link(href='https://craftwork.design/blog/' target='_blank') Blog
                li
                  a.link(href='https://craftwork.design/login/' target='_blank') Account
            .footer__menu__item.col-12.col-sm-6.col-md
              .footer__title
                | Products
              ul
                li
                  a.link(href='https://storytale.io/' target='_blank') Storytale
                li
                  a.link(href='https://craftwork.design/ui-kits/' target='_blank') UX/UI Systems
                li
                  a.link(href='https://craftwork.design/templates/' target='_blank') Templates
                li
                  a.link(href='https://craftwork.design/mockups/' target='_blank') Mockups
                li
                  a.link(href='https://craftwork.design/freebies/' target='_blank') Freebies
            .footer__menu__item.col-12.col-sm-6.col-md
              .footer__title
                | Company
              ul
                li
                  a.link(href='https://craftwork.design/license/' target='_blank') License
                li
                  a.link(href='https://craftwork.design/refund/' target='_blank') Refund policy
                li
                  a.link(href='https://craftwork.design/about-us/' target='_blank') About us
                li
                  a.link(href='https://craftwork.design/contacts/' target='_blank') Contact us
            .footer__menu__item.col-12.col-sm-6.col-md
              .footer__title
                | Social
              ul
                li
                  a.link(href='https://www.producthunt.com/@shepovalovdenis/made' target='_blank') Producthunt
                li
                  a.link(href='https://dribbble.com/Craftwork' target='_blank') Dribbble
                li
                  a.link(href='https://www.behance.net/getcraftwork' target='_blank') Behance
                li
                  a.link(href='https://www.instagram.com/getcraftwork/' target='_blank') Instagram
                li
                  a.link(href='https://twitter.com/GetCraftwork' target='_blank') Twitter
                li
                  a.link(href='#' target='_blank') Medium
    .footer__bottom
      | Copyright &copy; 2015-2021 craftwork.design
