.hero
  .hero__header
    a.hero__logo(href='/')
      span Design <br> Cell
      span 1.0
    .hero__menu
      a.hero__link_white(href='fullPreview.html') Full preview
      a.hero__link(href='#purchase') Purchase
      button.hero__button
        .hero__button__inner
          .hero__button__line
          .hero__button__line
  .hero__body
    .hero__text-section
      .main-title Multipurpose Design System for iOS app
      .subtitle Create high-quality application with Design Cell assistance.
      .hero__button-container
        a.button(href='#purchase') Purchase - from $38
    .hero__image-section
      include ../svg/heroImage  
  .hero__footer
    p.hero__footer-item
      include ../svg/VersionIcon  
      span Version 1.0
    p.hero__footer-item 
      include ../svg/screenIcon
      span 20 Sample Screens
    p.hero__footer-item 
      include ../svg/bookIcon
      span 800+ Components
    a.hero__footer-item_link(href="/fullPreview.html") Full preview →



