#mc_embed_signup
  form#mc-embedded-subscribe-form.validate(action='https://design.us11.list-manage.com/subscribe/post?u=1f4eca0391ca7ebd97f795949&id=69e024e383' method='post' name='mc-embedded-subscribe-form' data-wow-duration='1s' data-wow-delay='0.4s' target='_blank' novalidate='novalidate')
    .mc-field-group.form-group.position-relative
      input#mce-EMAIL.email.form-control.valid(type='email' value='' name='EMAIL' aria-invalid='false' placeholder='Type your email')
      #mce-responses.clear
        #mce-error-response.response(style='display:none;')
        #mce-success-response.response(style='display:none;')
    div(style='position: absolute; left: -5000px;' aria-hidden='true')
      input(type='text' name='b_1f4eca0391ca7ebd97f795949_69e024e383' tabindex='-1' value='')
    input#mc-embedded-subscribe.button_secondary(type='submit' value='Subscribe' name='subscribe')
  script(type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
