.menu
  .menu__header 
    a.menu__link Purchase
    button.menu__button
      .menu__button__inner
        .menu__button__line
        .menu__button__line
  .menu__body
    h2.menu__title
      | Unlock all design assets with total price of &nbsp;
      span.gray $3,110 &nbsp;
      | for &nbsp; 
      span.red $89/quarter
    p.menu__text Membership that provides all design products in one library. Get subscription once to take an advantage of all the Craftwork possibilities.   
