//- Open Graph / Facebook
meta(property='og:type ' content='website')
meta(property='og:url ' content='')
meta(property='og:title ' content='')
meta(property='og:site_name' content='Design Cell')
meta(property='og:title ' content='Design Cell')
meta(property='og:description' content='')
meta(property='og:image' content='public/OpenGraph.png')
//- Open Graph / Facebook
//- Twitter
meta(property='twitter:card ' content='summary_large_image')
meta(property='twitter:type ' content='website')
meta(property='twitter:url ' content='')
meta(property='twitter:site_name' content='Design Cell')
meta(property='twitter:title ' content='Design Cell')
meta(property='twitter:description' content='')
meta(property='twitter:image' content='public/OpenGraph.png')
//- Twitter
