.preview-button  
  .preview-button-half    
    include ../svg/sketchOneColor
    a(href='#') 
      span.d-none.d-sm-inline Sketch Preview ↗
      span.d-inline.d-sm-none Preview
  .preview-button-delimiter  
  .preview-button-half  
    include ../svg/figmaOneColor
    a(href='#') 
      span.d-none.d-sm-inline Figma Preview ↗
      span.d-inline.d-sm-none Preview
