.preview-button  
  .preview-button-half    
    include ../svg/sketchOneColor
    a(href='https://sketch.cloud/s/88f82920-2200-46d7-be57-c602164f7b24' target='_blank') 
      span.d-none.d-sm-inline Sketch Preview ↗
      span.d-inline.d-sm-none Preview
  .preview-button-delimiter  
  .preview-button-half  
    include ../svg/figmaOneColor
    a(href='https://www.figma.com/file/au31zhvO0FExVP5c9AIjPq/Design-Cell-Preview' target='_blank') 
      span.d-none.d-sm-inline Figma Preview ↗
      span.d-inline.d-sm-none Preview
