.signup
  .container
    .row
      .col-12.offset-0.col-lg-8.offset-lg-2
        h2.title.signup__title.text-center Sign up for our newsletters & get 10% discount promo code
        include mc_embed_signup
        .signup__footer
          p.text-center No spam. Only releases, updates and discounts
