.video
  .container
    .row
      .col-12.offset-0.col-lg-8.offset-lg-2
        h2.title.text-center Design and Prototyping processes become easier
      .col-12.offset-0.col-lg-8.offset-lg-2
        p.subtitle.text-center All-you-need to create a perfect iOS app in one sophisticated package. Big library of elements to choose some and develop powerful result.  
    .video__container
      div(style='padding-top: 56.25%; position: relative; overflow: hidden;')
        iframe(frameborder='0' allowfullscreen='' scrolling='no' allow='autoplay;fullscreen' src='https://onelineplayer.com/player.html?autoplay=false&autopause=false&muted=true&loop=false&url=https%3A%2F%2Fcraftwork.design%2Fwp-content%2Fuploads%2Fvideo%2FDC.mp4&poster=https%3A%2F%2Fcraftwork.design%2Fvideo%2FCover.png&time=true&progressBar=true&overlay=true&muteButton=true&fullscreenButton=true&style=light&quality=auto&playButton=true' style='position: absolute; height: 100%; width: 100%; left: 0px; top: 0px;')
    .row 
      .col-12.offset-0.col-lg-8.offset-lg-2
        p.text-center Check this How-to video to learn more about the workflow with iOS Design Kit
