doctype html
html(lang='en')
  - var pageTitle = 'DS Landing Full Preview'
  include partials/head
  body
    include partials/components
    include partials/library
    include partials/signup
    include partials/footer    
