doctype html
html(lang='en')
  - var pageTitle = 'Design Cell Full Preview'
  include partials/head
  body
    include partials/menu
    include partials/hero_second
    .title-block
      .container 
        h2.title.text-center.fp-page-title Full preview
    - var kit_class = 'light'
    - var kit_title = 'UI Kit (Light)'
    include partials/ui-kit
    - var kit_class = 'dark'
    - var kit_title = 'UI Kit (Dark)'
    include partials/ui-kit
    include partials/styles-block
    include partials/full-preview
    include partials/library
    include partials/signup
    include partials/footer    
