doctype html
html(lang='en')
  - var pageTitle = 'Design Cell'
  include partials/head
  body
    include partials/menu
    include partials/hero
    include partials/mobile-screens
    include partials/video
    include partials/customize
    include partials/components
    include partials/library
    include partials/signup
    include partials/footer    
