svg(width='31' height='30' viewbox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg')
  rect(width='30.7143' height='30' rx='5.35714' fill='#2D2E35')
  g(clip-path='url(#clip0)')
    path(d='M12.4112 25.7139C14.333 25.7139 15.8926 24.1405 15.8926 22.2019V18.6899H12.4112C10.4894 18.6899 8.92975 20.2633 8.92975 22.2019C8.92975 24.1405 10.4894 25.7139 12.4112 25.7139Z' fill='#5ECB89')
    path(d='M8.92938 15.1784C8.92938 13.2398 10.4891 11.6665 12.4108 11.6665H15.8923V18.6903H12.4108C10.4891 18.6903 8.92938 17.117 8.92938 15.1784Z' fill='#9664F6')
    path(d='M8.93433 8.15546C8.93433 6.21689 10.494 4.64355 12.4158 4.64355H15.8972V11.6674H12.4158C10.494 11.6674 8.93433 10.094 8.93433 8.15546Z' fill='#E15A33')
    path(d='M15.8912 4.64258H19.3726C21.2944 4.64258 22.8541 6.21591 22.8541 8.15448C22.8541 10.0931 21.2944 11.6664 19.3726 11.6664H15.8912V4.64258Z' fill='#EF7A69')
    path(d='M22.8541 15.1784C22.8541 17.117 21.2944 18.6903 19.3726 18.6903C17.4509 18.6903 15.8912 17.117 15.8912 15.1784C15.8912 13.2398 17.4509 11.6665 19.3726 11.6665C21.2944 11.6665 22.8541 13.2398 22.8541 15.1784Z' fill='#52BBF8')
  defs
    clippath#clip0
      rect(width='13.9286' height='21.0714' fill='white' transform='translate(8.92847 4.64307)')
