svg(width='40' height='40' viewbox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
  path(d='M11.875 18.75C15.672 18.75 18.75 15.672 18.75 11.875C18.75 8.07804 15.672 5 11.875 5C8.07804 5 5 8.07804 5 11.875C5 15.672 8.07804 18.75 11.875 18.75Z' fill='#353535')
  path(d='M28.125 18.75C31.922 18.75 35 15.672 35 11.875C35 8.07804 31.922 5 28.125 5C24.328 5 21.25 8.07804 21.25 11.875C21.25 15.672 24.328 18.75 28.125 18.75Z' fill='#353535')
  path(d='M11.875 35C15.672 35 18.75 31.922 18.75 28.125C18.75 24.328 15.672 21.25 11.875 21.25C8.07804 21.25 5 24.328 5 28.125C5 31.922 8.07804 35 11.875 35Z' fill='#353535')
  path(d='M28.125 35C31.922 35 35 31.922 35 28.125C35 24.328 31.922 21.25 28.125 21.25C24.328 21.25 21.25 24.328 21.25 28.125C21.25 31.922 24.328 35 28.125 35Z' fill='#353535')
